<div class="col-right">
  <div class="post">
    <h2>Новый пост</h2>
    <div class="flex-container top">
      <div class="first-item">
        <p>Прикрепленные файлы</p>
        <div class="drag"></div>
        <p>Описание</p>
        <textarea name="Description" ng-model="ctx.newPost.text"></textarea>
      </div>
      <div class="map second-item">
        <p>Гео-тег</p>
      </div>
    </div>

    <div  class="flex-container bottom">
      <div class="first-item">
        <div class="tags">
          <p>Рекомендуемые хэштеги</p>
          <div class="tag">Тэг</div>
          <div class="tag">Тэг</div>
        </div>
        <div class="tag-add">
          <p>Добавить хэштег</p>
          <div class="tag-add-input">
            <span>#</span> <input type="text" ng-model="ctx.newPost.tags"> <i class="fa fa-tag" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="post-add second-item clearfix">
        <div class="half first"><button class="add" ng-click="ctx.sendPost()">Разместить пост</button></div>
        <div class="half second"><button class="cancel">Отмена</button></div>
      </div>
    </div>

  </div>
</div>