@import "variables";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  font: 13px/1 'Roboto', sans-serif;
  color: #333;
  background-color: @bgColor;
}
button {
  width: 100%;
  background: transparent;
}
p {
  margin-bottom: 15px;
}
h2 {
  color: @colorMain;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 40px;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.half {
  width: 50%;
  float: left;
  &.first {
    padding-right: 2px;
  }
  &.second {
    padding-left: 2px;
  }
  button {
    padding: 5px;
  }
}
.nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 60px;
  background-color: @colorMain;

  .logo {
    .flex;
    .align-items(center);
    font-weight: bold;
    font-size: 28px;

    &-img {
      min-width: @widthIcons;
      flex-basis: @widthIcons;
      height: 34px;
      text-align: center;

      img {
        width: 34px;
        height: auto;
      }
    }
  }

  .search {
    .flex();
    .align-items(center);
  }

  .search {
    &-box {
      .flex;
      .justify-content(space-between);
      .align-items(center);
      width: 100%;
      max-width: 600px;
      .border-radius(5px);
      background-color: lighten(@colorMain, 20%);

      input {
        .flex-grow(1);
        height: 40px;
        padding: 13.5px 15px;
        background-color: transparent;
      }

      i {
        color: #fff;
        font-size: @fontSizeIcons;
        padding-right: 15px;
      }

      button {
        width: auto;
      }
    }
  }

  .col-right {
    padding: 0 22px;
  }
}
.container {
  position: relative;
  height: ~'calc(100vh - 60px)';
}
.col {
  &-left {
    position: fixed;
    z-index: 1;
    width: @widthColLeft;
    height: inherit;
    color: #fff;
    .flex-container {
      .flex;
      .flex-direction-column;
      .justify-content(space-between);
      height: 100%;
      background-color: #4B4848;
    }
  }
  &-right {
    height: inherit;
    margin-left: @widthColLeft;

    .flex-container {
      .flex;
      .justify-content(space-between);
      .flex-wrap;
    }
    .first-item {
      .flex-grow(1);
      padding-right: 25px;
    }
    .second-item {
      flex-basis: 35%;
    }
  }
}
side-panel {
  top: 60px;
  overflow: hidden;

  .post-add {
    cursor: pointer;
  }
}
.profile-box {
  padding: 15px 0;
  background-color: @colorAdditional;
  overflow: hidden;

  button {
    width: auto;
  }

  label {
    display: block;
    .flex-grow(1);
    color: #fff;
  }

  i {
    font-size: @fontSizeIcons;
    min-width: @widthIcons;
    flex-basis: @widthIcons;
    text-align: center;
  }

  input {
    width: 100%;
    height: 40px;
    padding: 13.5px 10px;
    margin-bottom: 10px;
    &:-moz-placeholder, &:-ms-input-placeholder, &::-webkit-input-placeholder {
      color: #ccc;
    }
  }

  .auth {
    height: 0;
    padding: 0 10px;
    input:first-child {
      margin-top: 15px;
    }
    button {
      width: 86px;
      height: 40px;
      color: #fff;
      border: 1px solid #fff;
      .login {
        background-color: darken(@colorAdditional, 10%);
      }
    }
  }

  &.show {
    .auth{
      -webkit-animation: show 1.5s forwards; /* Chrome, Safari, Opera */
      animation: show 1.5s forwards;
    }
  }
  &.hide {
    .auth{
      -webkit-animation: hide 1.5s forwards; /* Chrome, Safari, Opera */
      animation: hide 1.5s forwards;
    }
  }

  .login-box {
    .flex;
    .align-items(center);
    .flex-wrap;
  }

  .user-box {
    .flex;
    .align-items(center);
    .avatar {
      min-width: @widthIcons;
      flex-basis: @widthIcons;
      text-align: center;
      img {
        display: inline-block;
        width: 34px;
        height: 34px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
      }
    }
  }
}
.post-add {
  height: @heightIcons;
  background-color: @colorAdditional;
  font-weight: 300;
  font-size: 16px;
  .flex();
  .align-items(center);

  i {
    min-width: @widthIcons;
    flex-basis: @widthIcons;
    font-size: @fontSizeIcons;
    text-align: center;
  }
}
.social-buttons {
  .flex-grow(1);

    button {
      width: 100%;
      height: @heightIcons;
      color: #ccc;
      .flex;
      .align-items(center);

      i {
        text-align: center;
        min-width: @widthIcons;
        flex-basis: @widthIcons;
        font-size: @fontSizeIcons;
      }

      &:hover {
        color: #fff;
        cursor: pointer;
      }
      
      &.active {
        background-color: darken(@colorDark, 10%);
        color: #fff;

        i {
          color: @colorAdditional;
        }
      }      
      
    }
}

.side-bar-control {
  display: none;
  height: @heightIcons;
  i {
    color: #ccc;
    font-size: 20px;
  }
}

.posts {
  padding: (@heightHeader+20px) 20px 20px;
  .column(3);
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;

  i {
    font-size: 17px;
  }

  &-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;

    &-text {
      padding: 5px 10px;
    }
    &-tags {
      padding: 5px 10px;
      .flex();
      .align-items(center);
      .flex-wrap;

      i {
        margin-right: 10px;
        color: @colorMain;
      }
    }
    &-additional {
      padding: 5px 10px;
      .flex();
      .align-items(center);

      i, span {
        margin-right: 10px;
      }
    }
  }
}

.post {
  padding: (@heightHeader+20px) 20px 20px;
  
  textarea {
    width: 100%;
    min-height: 100px;
    padding: 15px;
    background-color: #fff;
  }

  input {
    height: 40px;
    padding: 13.5px 20px;
  }

  .drag, textarea, .tags, .tag-add, .map {
    margin-bottom: 25px;
  }
  
  .tag-add-input {
    .flex-inline;
    .align-items(center);
    .justify-content(space-between);
    background-color: #fff;

    span{
      padding-left: 10px;
    }
    i {
      padding-right: 10px;
    }
    input {
      flex-basis: 180px;
      max-width: 180px;
      .flex-grow(1);
    }
  }
  .post-add {
    min-height: 80px;
    padding: 0 15px;
    background-color: #fff;

    button {
      height: @heightIcons;
      &.add {
        background-color: @colorAdditional;
        color: #fff;
      }
      &.cancel {
        color: @colorDark;
        text-decoration: underline;
      }
    }
  }
}
.drag {
  background-color: darken(@colorLight,5%);
  min-height: 200px;
}
.map {
  padding: 15px;
  background-color: #fff;
}

.tag {
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 3px;
  border: 1px @colorMain solid;
  color: @colorMain;
}

@media screen and (max-width: 768px) {
  .col-left {
    width: @widthIcons;
  }
  .col-right {
    margin-left: @widthIcons;

    .second-item {
      flex-basis: 100%;
    }
  }
  .logo span, .post-add span, .social-buttons span {
    display: none;
  }

  .posts {
    .column(2);
  }

  .post {
    .flex-container {
      &.top {
        .first-item {
          order: 2;
        }
        .second-item {
          order: 1;
        }
      }
    }
  }
  .profile-box {
    label, .auth {
      display: none;
    }
  }

  side-panel {
    &.grow {
      .logo span, .post-add span, .social-buttons span {
        display: block;
      }
      .profile-box {
        label, .auth {
          display: block;
        }
      }
      -webkit-animation: widthGrow 1.5s forwards; /* Chrome, Safari, Opera */
      animation: widthGrow 1.5s forwards;
    }
    &.shrink {
      .logo span, .post-add span, .social-buttons span {
        display: none;
      }
      .profile-box {
        label, .auth {
          display: none;
        }
      }
      -webkit-animation: widthShrink 1.5s forwards; /* Chrome, Safari, Opera */
      animation: widthShrink 1.5s forwards;
    }
    .side-bar-control {
      .flex;
      .align-items(center);
      .justify-content(center);
    }
  }
}

@media screen and (max-width: 600px) {
  .posts {
    .column(1);
  }
}

.posts-item-tags .tag:hover{
  cursor: pointer;
  background: @bgColorProfileBox;
  color: white;
}