@import "variables";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  font: 13px/1 'Roboto', sans-serif;
  color: #333;
  background-color: @bgColor;
}
p {

}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}
.nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 60px;
  background-color: @colorMain;

  .logo {
    .flex;
    .align-items(center);
    font-weight: bold;
    font-size: 28px;

    &-img {
      min-width: 98px;
      flex-basis: 98px;
      height: 34px;
      text-align: center;

      img {
        width: 34px;
        height: auto;
      }
    }
  }

  .search {
    .flex();
    .align-items(center);
  }

  .search input {
    width: 100%;
    max-width: 600px;
    height: 40px;
    padding: 13.5px 10px;
    .border-radius(5px);
    background-color: lighten(@colorMain, 20%);
  }
  .col-right {
    padding: 0 22px;
  }
}
.container {
  position: relative;
  height: ~'calc(100vh - 60px)';
  margin-top: 60px;
}
.col {
  &-left {
    position: fixed;
    z-index: 1;
    width: @widthColLeft;
    height: inherit;
    color: #fff;
    .flex-container {
      .flex;
      .flex-direction-column;
      .justify-content(space-between);
      height: 100%;
      background-color: #4B4848;
    }
  }
  &-right {
    height: inherit;
    margin-left: @widthColLeft;
  }
}
side-panel {
  top: 75px;
}
.profile-box {
  height: @heightHeader;
  background-color: @bgColorProfileBox;
}
.post-add {
  height: @heightHeader;
  background-color: #17EAD9;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  .flex();
  .align-items(center);

  i {
    min-width: 98px;
    flex-basis: 98px;
    font-size: 30px;
  }
}
.social-buttons {
  .flex-grow(1);

  ul {
    list-style-type: none;

    li {
      height: 50px;
      color: #ccc;
      .flex;
      .align-items(center);
      text-align: center;

      &:hover {
        color: #fff;
        cursor: pointer;
      }

      i {
        min-width: 98px;
        flex-basis: 98px;
        font-size: 30px;
      }
    }
  }
}

.posts {
  padding: 30px 22px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  &-item {
    display: inline-block;
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
    background-color: #fff;

    &-.text {
      padding: 5px;
    }

    .tag {
      display: inline-block;
      padding: 5px;
      background-color: @colorMain;
      color: #fff;
    }
  }
}

@media screen and (max-width: 768px){
  .col-left {
    width: 98px;
  }
  .col-right {
    margin-left: 98px;
  }
  .logo span, .post-add span {
    display: none;
  }
}