<div class="flex-container">
    <div class="post-add" ng-click="sidePanelCtrl.navigate()">
        <div ng-show="sidePanelCtrl.state.current.name === 'home.search'">
            <i class="fa fa-plus" aria-hidden="true"></i> <span>Новый пост</span>
        </div>
        <div ng-show="sidePanelCtrl.state.current.name === 'home.post'">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> <span>Назад</span>
        </div>
    </div>
    <div class="social-buttons">
        <button ng-click="sidePanelCtrl.loginVk()" ng-class="{'active': !!sidePanelCtrl.vkLogged}" ng-disabled="sidePanelCtrl.blockVkLogin">
            <i class="fa fa-vk" aria-hidden="true"></i>
            <span>Вконтакте</span>
        </button>
        <button ng-click="sidePanelCtrl.loginFB()" ng-class="{'active': !!sidePanelCtrl.fbLogged}" ng-disabled="sidePanelCtrl.blockFBLogin">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <span>Facebook</span>
        </button>
        <button ng-click=""><i class="fa fa-twitter" aria-hidden="true"></i> <span>Twitter</span></button>
        <button ng-click=""><i class="fa fa-instagram" aria-hidden="true"></i> <span>Instagram</span></button>
    </div>
    <div ng-class="sidePanelCtrl.loginPaneOpened ? 'show' : 'hide'"
         class="profile-box">
        <div class="login-box">
            <i class="fa fa-user" aria-hidden="true"></i>
            <button ng-click='sidePanelCtrl.toggleLoginPane()'>
                <label>Логин/Регистрация</label>
            </button>
            <div class="auth clearfix">
                <input type="text" name="user" placeholder="Введите логин">
                <input type="text" name="password" placeholder="Введите пароль">
                <div class="half first"><button class="login cyan" value="Вход">Bход</button></div>
                <div class="half second"><button class="register cyan" value="Регистрация">Регистрация</button></div>
            </div>
        </div>

        <!--<div class="user-box">-->
            <!--<div class="avatar">-->
              <!--<img ng-src="{{user.picSrc}}" />-->
            <!--</div>-->
            <!--<label>{{user.username}}</label>-->
        <!--</div>-->
    </div>
    <div class="side-bar-control">
        <button ng-click="sidePanelCtrl.toggleSidePanel()">
            <i class="fa"
               ng-class="sidePanelCtrl.sidePanelOpened ? 'fa-angle-double-left' : 'fa-angle-double-right'"
               aria-hidden="true"></i>
            <!--<i class="fa fa-angle-double-right" aria-hidden="true"></i>-->
        </button>
    </div>
</div>