<div class="flex-container">
    <div class="post-add" ui-sref="home.post">
        <i class="fa fa-plus" aria-hidden="true"></i> <span>Новый пост</span>
    </div>
    <div class="social-buttons">
        <button ng-click="sidePanelCtrl.loginVk()" ng-disabled="sidePanelCtrl.blockVkLogin"><i class="fa fa-vk" aria-hidden="true"></i> <span>Вконтакте</span></button>
        <button ng-click=""><i class="fa fa-facebook" aria-hidden="true"></i> <span>Facebook</span></button>
        <button ng-click=""><i class="fa fa-twitter" aria-hidden="true"></i> <span>Twitter</span></button>
        <button ng-click=""><i class="fa fa-instagram" aria-hidden="true"></i> <span>Instagram</span></button>
    </div>
    <div class="profile-box register">
        <i class="fa fa-user" aria-hidden="true"></i> <span>Логин/Регистрация</span>
        <!--<span><label>{{user.firstName}}</label>-->
        <!--<label>{{user.lastName}}</label></span>-->
        <!--USER-->
        <div class="auth slideup clearfix">
            <input type="text" name="user" placeholder="Введите логин">
            <input type="text" name="password" placeholder="Введите пароль">
            <div class="half first"><button class="login" value="Вход">Bход</button></div>
            <div class="half second"><button class="register" value="Регистрация">Регистрация</button></div>
        </div>

    </div>
    <div class="side-bar-control">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        <!--<i class="fa fa-angle-double-right" aria-hidden="true"></i>-->
    </div>
</div>