<div class="social-buttons">
    <ul>
        <li>
            <i class="fa fa-vk" aria-hidden="true"></i> Вконтакте
        </li>
        <li>
            <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
        </li>
        <li>
            <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
        </li>
        <li>
            <i class="fa fa-instagram" aria-hidden="true"></i> Instagram
        </li>
    </ul>
</div>
<div>
    <label>{{userFirstName}}</label>
    <label>{{userSurName}}</label>
    <!--USER-->
</div>